mixin copyright(props)
	- props = typeof props != 'undefined' ? props : {}

	- var attrs = props.attrs || {}
	- var data = props.data || {}
	- var mods = props.mods || {}
	- var mix = props.mix ? {'class': props.mix} : {}

	+b.copyright()&attributes(attrs, mix)
		+e.P.message © 2018 Новости культуры. Все права защищены.
