include ../../../node_modules/bemto.jade/bemto
include ../../../node_modules/jade-injected/jade-injected

include ../page/page
include ../page/page__header
include ../page/page__content
include ../page/page__footer

include ../header/header
include ../footer/footer

include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		+page__header
			+header
		+page__content
			block content
		+page__footer
			+footer
		+scripts(['app.min.js'])
