.index-page-layout
	padding-top 50px
	padding-bottom 50px

	@media (min-width $desktopWidth)
		padding-top 100px
		padding-bottom 100px
		display grid
		grid-template-columns 766px 370px
		gap 30px

.index-page-layout__main-column
	margin-bottom 50px

	@media (min-width $desktopWidth)
		margin-bottom 0
		width 766px

.index-page-layout__main-column-section
	&:not(:last-child)
		margin-bottom 50px

		@media (min-width $desktopWidth)
			margin-bottom 75px

.index-page-layout__aside-column-section
	&:not(:last-child)
		margin-bottom 30px

		@media (min-width $desktopWidth)
			margin-bottom 33px
