.index-page-layout
	display block

.index-page-layout__margin
	padding-top 50px

	@media (min-width $desktopWidth)
		padding-top 100px

.index-page-layout__main-column
	@media (min-width $desktopWidth)
		width 766px

.index-page-layout__section
	&:not(:last-child)
		margin-bottom 50px

		@media (min-width $desktopWidth)
			margin-bottom 75px
