extends ../blocks/layout-default/layout-default

include ../blocks/page/__content/page__content
include ../blocks/page/__main-column/page__main-column
include ../blocks/page/__main-column-section/page__main-column-section
include ../blocks/page/__aside-column/page__aside-column
include ../blocks/page/__aside-column-section/page__aside-column-section

include ../blocks/promo-carousel/promo-carousel
include ../blocks/news-list/news-list
include ../blocks/news-list/news-list__item
include ../blocks/news-card/news-card
include ../blocks/review-list/review-list
include ../blocks/review-list/review-list__item
include ../blocks/review-card/review-card
include ../blocks/pagination/pagination

include ../blocks/banner/banner

block head
	- var pageTitle = 'KULTURA — Новости культуры';

block content
	- var promoCarouselSlides = getData('promo-carousel');
	- var news = getData('news');
	- var reviews = getData('reviews');
	- var banners = getData('banners');

	+promo-carousel(promoCarouselSlides)
	+page-trim
		+page__content
			+page__main-column
				+page__main-column-section
					+news-list
						each newsItem in news
							- primary = newsItem.mods && newsItem.mods.primary

							+news-list__item
								+news-card({data: newsItem, mods: {type: primary ? 'primary' : null}})
				+page__main-column-section
					+review-list
						each reviewItem in reviews
							+review-list__item
								+review-card({data: reviewItem})
				+page__main-column-section
					+banner({
						data: banners.ballet,
						mods: {
							direction: 'horizontal',
							theme: 'dark',
						}
					})
			+page__aside-column
				+page__aside-column-section
					+banner({
						data: banners.balloons,
						mods: {
							direction: 'vertical',
							theme: 'light',
						}
					})
				+page__aside-column-section
					+banner({
						data: banners['photo-shoot'],
						mods: {
							direction: 'vertical',
							theme: 'dark',
						}
					})
				+page__aside-column-section
					+banner({
						data: banners.exhibition,
						mods: {
							direction: 'vertical',
							theme: 'dark',
						}
					})
