extends ../blocks/layout-default/layout-default

include ../blocks/header/header

include ../blocks/index-page-layout/index-page-layout
include ../blocks/index-page-layout/index-page-layout__main-column
include ../blocks/index-page-layout/index-page-layout__main-column-section
include ../blocks/index-page-layout/index-page-layout__aside-column
include ../blocks/index-page-layout/index-page-layout__aside-column-section

include ../blocks/promo-carousel/promo-carousel
include ../blocks/news-list/news-list
include ../blocks/news-list/news-list__item
include ../blocks/news-card/news-card
include ../blocks/review-list/review-list

block head
	- var pageTitle = 'KULTURA — Новости культуры';

block header
	+header

block content
	- var promoCarouselSlides = getData('promo-carousel');
	- var news = getData('news');

	+promo-carousel(promoCarouselSlides)
	+page-trim
		+index-page-layout
			+index-page-layout__main-column
				+index-page-layout__main-column-section
					+news-list
						each newsItem in news
							- primary = newsItem.mods && newsItem.mods.primary

							+news-list__item
								+news-card({data: newsItem, mods: {type: primary ? 'primary' : null}})
				+index-page-layout__main-column-section
					+review-list
		+index-page-layout__aside-column
