.logo
	display inline-block
	font-family 'Playfair Display', 'Times New Roman', serif
	font-weight 900
	font-size 25px
	line-height 33px
	color $black

	@media (min-width: $desktopWidth)
		font-size 35px
		line-height 47px
		letter-spacing 1px
