.review-list
	display block

.review-list__title
	font-weight 700
	font-size 17px
	line-height 20px
	letter-spacing 2px
	color #000000
	text-transform uppercase
	margin-bottom 15px

.review-list__items
	@media (min-width: $desktopWidth)
		display grid
		grid-template-columns repeat(2, 1fr)
		grid-gap 30px
		grid-row-gap 38px

	+ .review-list__pagination
		margin-top 30px

		@media (min-width: $desktopWidth)
			margin-top 53px

.review-list__item
	&:not(:last-child)
		margin-bottom 30px

		@media (min-width: $desktopWidth)
			margin-bottom 0

