include ../logo/logo
include ../menu/menu
include ../page-trim/page-trim

mixin header()
	+b.HEADER.header&attributes(attributes)
		+page-trim
			+e({b: 'header'}).logo
				+logo({
					mods: {
						size: 'm'
					}
				})
			+e({b: 'header'}).menu
				+menu({
					mods: {
						adaptive: true
					}
				})
