.menu--opened
	background-color $white
	position fixed
	height 100%
	width 100%
	overflow-y scroll
	-webkit-overflow-scrolling touch

	@media (min-width: $desktopWidth)
		background-color transparent
		position static
		height auto
		width auto
		overflow-y auto

	.menu__list
		display flex

	.menu__handler
		left auto
		right 0
		background-color transparent
		background-image url('/assets/images/menu__handler--opened.svg')

		&:hover, &:focus
			background-color transparent
			opacity .5
