mixin menu(props)
	- props = typeof props != 'undefined' ? props : {}

	- var attrs = props.attrs || {}
	- var data = props.data || {}
	- var mods = props.mods || {}
	- var mix = props.mix ? {'class': props.mix} : {}

	- var items = getData('menu');

	+b.menu(
		class= mods.adaptive ? "menu_adaptive" : "",
	)&attributes(attrs, mix)
		if mods.adaptive
			+e.BUTTON.handler(type='button') Показать/скрыть меню
		+e.UL.list
			each item in items
				+e.LI.item
					+e.A.item-content(href="javascript:void(0)")= item
