.menu__list
	display none
	justify-content space-between
	flex-direction column
	background-color $white
	position absolute
	top 76px
	left 0
	right 0
	bottom 0

	@media (min-width: $desktopWidth)
		display flex
		flex-direction row
		background-color transparent
		position static
