mixin menu()
	- var items = getData('menu');
	+b.menu&attributes(attributes)
		+e.BUTTON.handler(type='button') Показать/скрыть меню
		+e.UL.list
			each item in items
				+e.LI.itemd
					+e.A.item-content(href="javascript:void(0)")= item
