.menu__item-content
	font-size 16px
	line-height 19px
	letter-spacing 2px
	color $black
	text-decoration none
	text-transform uppercase
	transition color .3s
	background-color $lightGray
	display block
	padding 18px 16px

	@media (min-width: $desktopWidth)
		font-size 15px
		line-height 18px
		background-color transparent
		padding 0

	&:hover, &:focus
		color $gray
