include ../retina-webp-image/retina-webp-image

mixin news()
	- var news = getData('news');

	+b.news&attributes(attributes)
		+e({tag: 'H2'}).title Новости
		+e.UL.list
			each newsItem in news
				- primary = newsItem.mods && newsItem.mods.primary

				+e.LI.item(class= primary && '_primary')
					+e.link(href="#")
						+e.DIV.item-description
							+e({tag: 'H3'}).item-title= newsItem.title
							+e.P.item-summary= newsItem.summary
						+retinaWebpImage(newsItem.image, 'news__item-image')
