.footer
	position relative
	display block
	padding-top 40px
	background-color #F7F7F7

	@media (min-width: $desktopWidth)
		padding-top 26px

.footer__logo
	text-align center
	width 146px
	margin 0 auto
	margin-bottom 16px

	@media (min-width: $desktopWidth)
		margin-bottom 32px
		width auto

.footer__menu
	@media (min-width: $desktopWidth)
		margin-bottom 46px
		position static

