include ../retina-webp-image/retina-webp-image

mixin review-card(props)
	- props = typeof props != 'undefined' ? props : {}

	- var attrs = props.attrs || {}
	- var data = props.data || {}
	- var mods = props.mods || {}
	- var mix = props.mix ? {'class': props.mix} : {}

	+b.review-card
		+e.link(href="#")
			+e.DIV.description
				+e({tag: 'H3'}).title= data.title
				+e.P.summary= data.summary
			+retinaWebpImage(data.image, 'review-card__image')

